/* import fonts from google api */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html, body{
    margin: 0;
    background: linear-gradient(to right, #09888c, #29b2b6, #16a3b7);
}
 
:root{
    --primary-gradient : linear-gradient(to bottom, #ffffff, #adadaa);
    --label-gradient: linear-gradient(to bottom, #536452 0%, #57dd52 40%, #95e669 100%);
}

.container{
    background: #282c34;
    background: url('../pic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92vw;
    height: 89vh;
    font-size: calc(10px + 2vmin);
    color: black;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
}

/* Navigation */
.navbar{
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;;
}

.navbar .nav-items{
    text-align: right;
}

.navbar .navbar-brand h5{
    padding: .4rem 2rem;
    margin: 0;
}

.nav-items .navbar-nav{
    list-style-type: none;
}

.navbar-nav .nav-link{
    display: inline-block;
    font-size: 1rem;
    margin: 0 .9rem;
}

.navbar-nav .yellow-button{
    border: none;
    padding: .4rem 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
    background: #ee5;
    font-family: 'Poppins', sans-serif;;
}
